.sidebar ul {
  border-right: 0.5px solid rgb(230, 227, 227);
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: white;
}

.sidebar ul li {
  display: flex;
  justify-content: space-around;
}

.icons {
  font-size: 18px;
  color: #7451f8;
}

span {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}