.dashboard {
    padding: 40px 30px;
    padding-bottom: 40px;
    background-color: #f3f4f6;
}

.single__card {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-bottom: 20px;
    color: white;
    cursor: pointer;
}

.card__content {
    margin-right: 20%;
}

.iconDash {
    font-size: 1200px;
    margin-left: 20px;
}

.single__card:nth-child(1) {
    background: #1d2939;
}

.single__card:nth-child(2) {
    background: #0866c6;
}

.single__card:nth-child(3) {
    background: #dd3544;
}

.single__card:nth-child(4) {
    background: #01b296;
}

.card__content h4 {
    color: var(--heading-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.card__text {
    color: var(--heading-color);
    font-size: 1.5rem;
    margin-top: -1rem;
}

.card__text__para {
    color: var(--heading-color);
    font-size: 1rem;
}

.card__icon {
    font-size: 2rem;
    font-weight: 400 !important;
    color: rgba(255, 255, 255, 0.845);
}

.dashboard__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}